li {
  list-style: none;
}
li:hover {
  font-size: 20px;
  font-weight: bold;
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .nav-list ul,
.social-icons ul {
  display: flex;
}

.nav-list ul li,
.social-icons ul li {
  margin: 0px 20px;
  color: #55527c;
  font-size: 20px;
}

.social-icons ul i {
  color: #475edf;
  font-size: 1.3em;
}

.social-icons ul li:hover {
  transform: scale(1.2);
}

.toggle-btn i {
  font-size: 30px;
  color: #55527c;
  position: absolute;
  top: 20px;

  left: 48rem;
  display: none;
}

.logo {
  width: 11em;
  height: 3.5em;
  margin-top: 2px;
}

.dark_mode {
  text-shadow: 1px 1px 2px black;
  color: black;
}
@media all and (max-width: 1024px) {
  .toggle-btn i {
    display: block;
  }

  .brand img {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: -0.7em;
  }

  .navbar {
    background: #eaeef0;
    flex-direction: column;
    display: flex;
  }

  .hidden {
    display: none;
  }

  .nav-list ul {
    flex-direction: column;
  }

  .nav-list {
    margin-top: 1.5em;
    text-align: center;
  }

  .nav-list ul li {
    margin-top: 30px;
    text-align: center;
  }

  .social-icons {
    margin: 2em 0 0 0;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 5px;
  }
}

body {
  height: 100%;
  width: 100%;
  background-image: url("/assets/e58bfa24-f6a8-4dbe-b9bd-f8dfd37c5c99.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
#z_body {
  font-size: 1.4em;
}
#z_body ul {
  margin: 1em;
  list-style-type: disc;
}
#z_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#z_quizBrief {
  margin: 1em;
  text-align: center;
  font-size: 1.3em;
}
#startQuizBtn {
  width: 50vw;
  height: 20vh;
  font-size: 1.2em;
  background-color: #457edf;
  color: white;
}
#startQuizBtn:hover {
  background-color: #457eff;
  font-size: 1.3em;
}
#qe1 {
  display: none;
}
h3 {
  text-align: center;
}
html {
  width: 100%;
  height: 100%;
}
#z_body {
  display: flex;
  font-size: 1.4em;
}
#z_body ul {
  margin: 1em;
  padding: 2em;
  list-style-type: disc;
}
#z_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#z_quizBrief {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  font-size: 0.8em;
  height: 100%;
  color: #4682a0;
  font-family: "Times New Roman", Times, serif;
}
#startQuizBtn {
  width: 55vw;
  border-radius: 1.5em;
  border: solid 1.5px #c4e0fde6;
  height: 12vh;
  font-size: 1.2em;
  background-color: #201170c2;
  border: royalblue;
  color: #cfd6ee;
  font-family: "Times New Roman", Times, serif;
}
#startQuizBtn:hover {
  background-color: #7d91be;
  color: #fafcfd;
  font-size: 1.3em;
}
#qe1 {
  display: none;
}
h3 {
  font-weight: bold;
  color: #171130b0;
  text-align: left;
  font-family: sans-serif;
}
.flip-box {
  /* margin-top: 10em; */
  /* background-color: #f6da7e; */
  border-radius: 1.5em;
  border: solid 1.5px #c4e0fde6;
  width: 55vw;
  height: 15em;
  border: 1px solid #edf6f9f2;
  perspective: 1000px;
}

.flip-box-inner {
  border-radius: 1.5em;
  border: solid 1.5px #c4e0fde6;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#front {
  align-items: center;
  color: #4682a0;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front,
.flip-box-back {
  border-radius: 1.5em;
  border: solid 1.5px #c4e0fde6;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
h6 {
  font-size: 0.8em;
  font-family: "Times New Roman", Times, serif;
  color: #4682a0;
}
.flip-box-back {
  background-color: #fafcfd;
  color: #4682a0;
  transform: rotateY(180deg);
}
.flip-box-front {
  background-color: #edf6f9f2;
}
#demo {
  /*edited by aya*/
  background-color: #e7ecf0de;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35em;
  height: auto;
  margin: 10% auto;
  padding: 1em;
  font-family: "Times New Roman", Times, serif;
  color: #4339a4eb;
  border-radius: 1.5em;
  border: solid 1.5px #c4e0fde6;
  display: none;
}

#nextBtn {
  border: white;
  margin-top: 1em;
  width: 6em;
  background-color: #457effc9;
  color: #f6da7e;
  font-weight: bold;
  border-radius: 1em;
  height: 2em;
  font-size: 20px;
}
label p {
  padding: 0.2em;
  width: 1em;

  border-radius: 1em;
  display: inline;
}
p:hover {
  /* transform: scale(1.1); */
  font-size: 1.1em;
  transition-delay: 0.2s;
  background-color: rgb(179, 194, 243);
}
input {
  margin-bottom: 2em; /*edited by aya*/
  margin-left: 2em;
}
input:hover,
label:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 900px) {
}
