*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
font-family: rubik, sans-serif;
scroll-behavior: smooth;
}

body {
color: #444;
}
li{
    list-style: none;
}
li:hover{
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.2);
}

/*  Navbar  */

a {
    text-decoration: none;
  }
  
  .navbar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .navbar .nav-list ul,.social-icons ul {
    display: flex;
  }
  
  .nav-list ul li, .social-icons ul li {
    margin: 0px 20px;
    color: #55527c;
    font-size: 20px;
  }
  
  .social-icons ul i {
    color: #475edf;
    font-size: 1.3em;
  }
  
  .social-icons ul li:hover {
    transform: scale(1.2);
  }
  
  .toggle-btn i {
    font-size: 30px;
    color: #55527c;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
  }
  
  .logo {
    width: 11em;
    height: 3.5em;
    margin-top: 2px;
  }
  
  .dark_mode {
    text-shadow: 1px 1px 2px black;
    color: black;
  }
  
  

/*  Main Section  */
.row-profile{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin:15px;

}
.col{
    display: flex;
    justify-content: center;
}
.col-1{
    width: 100%;
    display: flex;
    flex-direction: column;  
}
.col-2 img{
    max-width:90%;
    height: 85%;
    padding: 10px;
}


/* Add padding to containers */
  form{
      margin: 110px;
      width: 500px;
  }
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #475edf;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  



/*  Footer Navbar */







@media all and (max-width: 1024px) {
    .toggle-btn i {
      display: block;
    }
  
    .brand img {
      position: absolute;
      top: 20px;
      left: 20px;
      margin-top: -0.7em;
    }
  
    .navbar {
      background: #eaeef0;
      flex-direction: column;
      display: flex;
    }
  
    .hidden {
      display: none;
    }
  
    .nav-list ul {
      flex-direction: column;
    }
  
    .nav-list {
      margin-top: 1.5em;
      text-align: center;
    }
  
    .nav-list ul li {
      margin-top: 30px;
    }
  
    .social-icons {
      margin: 2em 0 0 0;
    }
  
    .logo {
      position: absolute;
      top: 0;
      left: 5px;
    }
  }