:root{
    --theme-Color:green;
}
body{
    margin: 0;
    padding: 0;
}

.th_Result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: var(--theme-Color);
}
.th_Status{
    font-size: 2rem;
}
.th_Result>i{
    font-size: 4rem;
}
.th_Result>h2{
    font-size: 1.5rem;
}


/* ....aya_code ........*/
#A_resultContainer{
    width: 50rem;
    height: auto;
    padding: 2em;
    margin: 4em auto;
    background-color: white;
    
  }
  #show{
  text-align: center;
  margin: 1em auto;
  }
  tr:nth-child(odd) {
  background-color: rgba(145, 147, 161, 0.349);
  }
  td ,th{

    border-bottom: rgb(152, 152, 219) solid 0.5px;
    text-align: center;
    padding: 0em 1em;
    padding: 1em;
  }
  th{
      font-weight: bold;
  }
  /* #table{
    display: none;
    margin: 2rem auto;
    width:100%;
  } */
  .showTable{
    display: none;
    margin: 2rem auto;
    width:100%;
  }
  .showTable.display{
      display: block;
  }
  
  /* ......aya_code...... */